extends _layout

block content
	- equipo1 = {cap: "ck", num: "1", name: "Marce Y SPDP"}
	- equipo2 = {cap: "dario", num: "2", name: "Altos Boludos"}
	- equipo3 = {cap: "alan", num: "3", name: "Back2DPigeons"}
	- equipo4 = {cap: "fyr", num: "4", name: "Esta"}
	- equipo5 = {cap: "ozz", num: "5", name: "Las Galletas"}
	- equipo6 = {cap: "raul", num: "6", name: "Equipo 6"}
	- pg = 'Partidos Ganados'
	- pl = 'Partidos Perdidos'
	nav.navbar.navbar-custom.navbar-fixed-top(role='navigation').col
		.container
			.navbar-header.page-scroll
				button(type="button" data-toggle="collapse" data-target=".navbar-main-collapse").navbar-toggle.collapsed
					i.fa.fa-bars
				a.navbar-brand(href="#page-top")
					i.head-logo
						img(src="img/grwpo.png")
			.collapse.navbar-collapse.navbar-right.navbar-main-collapse
				ul.nav.navbar-nav 
					li.hidden 
						a(href='#page-top')
					li.page-scroll
						a(href='#page-top') About
					li.page-scroll
						a(href='#calendario') Calendario
					li.page-scroll
						a(href='#equipos') Equipos
	section#home.al100.total-container.page-scroll
		.containerNt.outer-container
			.title(style="white-space:pre")
			br
			a.btn(href="#calendario")
				i.fa.fa-angle-down.animated
		.columnas-12.menu-partidos-week
			ul
				br
				li.no-gutter.estatic.prox PARTIDOS DE LA SEMANA: 
				li.no-gutter
					.cont_hover.black 
						.lun1.cuadro_contenido 16 
							br 
							.mes.float-L JUNIO
							.dia.float-R LUNES
							hr
							.horariosXdia(style="white-space:pre").float-L 
								| 19:30 hrs 
								| 20:30 hrs
								| 21:30 hrs
							table.equiposVS.float-R
								tr
									td.line #{equipo1.name}  
									td.line vs  
									td.line #{equipo2.name}
								tr
									td.line #{equipo3.name}  
									td.line vs  
									td.line #{equipo4.name}
								tr
									td.line #{equipo5.name}  
									td.line vs  
									td.line #{equipo6.name}
				li.no-gutter
					.cont_hover.black
						.mar1.cuadro_contenido 17
							br 
							.mes.float-L JUNIO 
							.dia.float-R MARTES
							hr
							.horariosXdia(style="white-space:pre").float-L 
								| 19:30 hrs
								| 20:30 hrs
								| 21:30 hrs
							table.equiposVS.float-R
								tr
									td.line #{equipo4.name}  
									td.line vs  
									td.line #{equipo5.name}
								tr
									td.line #{equipo2.name}  
									td.line vs  
									td.line #{equipo6.name}
								tr
									td.line #{equipo1.name}  
									td.line vs  
									td.line #{equipo3.name}
				li.no-gutter
					.cont_hover.black
						.jue1.cuadro_contenido 18
							br 
							.mes.float-L JUNIO 
							.dia.float-R JUEVES
							hr
							.horariosXdia(style="white-space:pre").float-L
								| 19:30 hrs
								| 20:30 hrs
								| 21:30 hrs
							table.equiposVS.float-R
								tr
									td.line #{equipo3.name}  
									td.line vs  
									td.line #{equipo6.name}
								tr
									td.line #{equipo1.name}  
									td.line vs  
									td.line #{equipo4.name}
								tr
									td.line #{equipo2.name}  
									td.line vs  
									td.line #{equipo5.name}
	section#calendario.al100.page-scroll.total-container
		.centerbottom-top.pos-absoluta.column-10
			.contenedor-calendar.centerbottom-top
				table.calendar-table.no-margin
					thead
						tr
							th.pad-table.non-border.jornadas.limit  
								.tit-jornada JORNADA 1
								.subtit-jornada Lunes 16 de Junio
							th.pad-table.non-border.jornadas.limit  
								.tit-jornada JORNADA 2
								.subtit-jornada Martes 17 de Junio
							th.pad-table.non-border.jornadas.limit  
								.tit-jornada JORNADA 3
								.subtit-jornada Jueves 19 de Junio 
					tbody
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo1.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo2.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo4.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo5.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo3.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo6.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo3.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo4.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo2.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo6.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo1.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo4.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo5.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo6.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo1.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo3.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo2.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo5.name}
					thead
						tr
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 3
								.subtit-jornada Lunes 23 de Junio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 4
								.subtit-jornada Martes 24 de Junio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 5
								.subtit-jornada Jueves 26 de Junio 
					tbody
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo1.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo5.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo2.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo4.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo2.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo1.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo2.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo3.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo1.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo6.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo4.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo3.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo4.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo6.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo3.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo5.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo6.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo5.name}
					thead
						tr
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 7
								.subtit-jornada Lunes 30 de Junio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 8
								.subtit-jornada Martes 1 de Julio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 9
								.subtit-jornada Jueves 3 de Julio 
					tbody
						tr
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo5.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo4.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo6.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo3.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo5.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo1.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo6.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo2.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo4.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo1.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo3.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo2.name} 
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo3.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo1.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo5.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo2.name} 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:30PM
									td.pad-con-table.non-border.teamys #{equipo6.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo4.name}
					thead
						tr
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada JORNADA 10
								.subtit-jornada Lunes 7 de Julio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada POR EL HONOR
								.subtit-jornada Martes 8 de Julio
							th.pad-table.non-border.jornadas.limit
								.tit-jornada POR EL 3er LUGAR
								.subtit-jornada Jueves 10 de Julio 
					tbody
						tr
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys #{equipo4.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo2.name}  
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys 5to Puesto
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys 6to Puesto 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 7:30PM
									td.pad-con-table.non-border.teamys Perdedor semi 1
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys Perdedor semi 2
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys #{equipo6.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo1.name}  
						tr
							td.pad-table.non-border.limit 
								table.no-margin
									td.pad-con-table.non-border.hours 9:30PM
									td.pad-con-table.non-border.teamys #{equipo5.name}
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys #{equipo3.name}
					thead
						tr
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada SEMIFINALES
								.subtit-jornada Martes 8 de Julio
							th.pad-table.non-border.jornadas.limit 
								.tit-jornada FINAL
								.subtit-jornada Jueves 10 de JuLio 
					tbody
						tr
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys 1er Lugar
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys 4to Lugar 
							td.pad-table.non-border.limit
								table.no-margin
									td.pad-con-table.non-border.hours 8:00PM
									td.pad-con-table.non-border.teamys Ganador Semi 1
									td.pad-con-table.non-border.vs vs
									td.pad-con-table.non-border.teamys Ganador Semi 2
		.columnas-12
			.contenedor-ranking.centerbottom-top
				h3 RANKING
				.contenedor-mov.black
					.contenedor_hover.lun1
						.puesto 1er LUGAR
					.equipo-lugar.lun 
						.expandir Ver
						.equipos-ranki #{equipo3.name}
				.contenedor-mov.black
					.contenedor_hover.lun1
						.puesto 2do LUGAR
					.equipo-lugar.lun 
						.expandir Ver
						.equipos-ranki #{equipo1.name}
				.contenedor-mov.black
					.contenedor_hover.mar1
						.puesto 3er LUGAR
					.equipo-lugar.mar 
						.expandir Ver
						.equipos-ranki #{equipo6.name}																				 														
				.contenedor-mov.black
					.contenedor_hover.mar1
						.puesto 4to LUGAR
					.equipo-lugar.mar 
						.expandir Ver
						.equipos-ranki #{equipo5.name}
				.contenedor-mov.black
					.contenedor_hover.jue1
						.puesto 5to LUGAR
					.equipo-lugar.jue 
						.expandir Ver
						.equipos-ranki #{equipo2.name}
				.contenedor-mov.black
					.contenedor_hover.jue1
						.puesto 6to LUGAR
					.equipo-lugar.jue 
						.expandir Ver
						.equipos-ranki #{equipo4.name}																		
	section#equipos.al100
		.container.text-center
			.row
				.col-lg-12
					.span3.contTeams.float-L
						h2 Los equipos
						center
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.ckMenu
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal1").mayusculas #{equipo1.cap}
											p.name-T #{equipo1.name}
												.ver-completo Ver equipo completo
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.darioMenu
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal2").mayusculas #{equipo2.cap}
											p.name-T #{equipo2.name}
												.ver-completo Ver equipo completo
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.alanMenu
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal3").mayusculas #{equipo3.cap}
											p.name-T #{equipo3.name}
												.ver-completo Ver equipo completo
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.fyrMenu
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal4").mayusculas #{equipo4.cap}
											p.name-T #{equipo4.name}
												.ver-completo Ver equipo completo
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.ozzMenu
									p
										img(src="img/ozz.png" alt="").img-responsive
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal5").mayusculas #{equipo5.cap}
											p.name-T #{equipo5.name}
												.ver-completo Ver equipo completo
							.col-xs-12.col-sm-4.col-md-2
								.cuadro_intro_hover.raulMenu
									p
										img(src="img/ozz.png" alt="").img-responsive
									.caption
										.blur
										a.caption-text(href="#aboutModal" data-toggle="modal" data-target="#myModal6").mayusculas raúl	
											p.name-T #{equipo6.name}
												.ver-completo Ver equipo completo
				.modal.fade#myModal1(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog.caja-flotante
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#ckTeam		
								img(src="img/ck.png").team-pic
								h3 #{equipo1.name}
								p Marcela / Jader / Javi / Pablo / Robert
								.float-L.partidos= pg
									.score 1
								.float-R.partidos= pl
									.score 0  
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar
				.modal.fade#myModal2(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#darioTeam
								img(src="img/dario.png").team-pic
								h3 #{equipo2.name}
								p Tamara / Xac / Aldo / Charly B / Greco / Montoya
								.float-L.partidos= pg
									.score 0
								.float-R.partidos= pl
									.score 1 
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar
				.modal.fade#myModal3(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#alanTeam
								img(src="img/alan.png").team-pic
								h3 #{equipo3.name}
								p Hadzidy / Marissa / Fide / Ulises / Yushell / Zpectrito
								.float-L.partidos= pg
									.score 1
								.float-R.partidos= pl
									.score 0 
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar
				.modal.fade#myModal4(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#fyrTeam
								img(src="img/fyr.png").team-pic
								h3 #{equipo4.name}
								p Cecy / Mariel / Gabo / Licea / Wolf / Zacatenco
								.float-L.partidos= pg
									.score 0
								.float-R.partidos= pl
									.score 1  
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar
				.modal.fade#myModal5(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#ozzTeam
								img(src="img/ozz.png").team-pic
								h3 #{equipo5.name}
								p Juanita / Maru / Martín / Matt / Mike / Redo
								.float-L.partidos= pg
									.score 0
								.float-R.partidos= pl
									.score 1 
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar
				.modal.fade#myModal6(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
					.modal-dialog
						.modal-content.noRoundBorders
							.modal-header
								button(type="button" data-dismiss="modal" aria-hidden="true").close
								h4.modal-title#myModalLabel About team
							.modal-body#raulTeam
								img(src="img/raul.png").team-pic
								h3 #{equipo6.name}
								p Mariana / Adrián / Joel / Pingo / Pollito / Roco
								.float-L.partidos= pg
									.score 1
								.float-R.partidos= pl
									.score 0 
							.modal-footer
								center
									button(type="button" data-dismiss="modal").btn.btn-default Cerrar


