- var classtdMain = ['pad-table', 'non-border', 'limit']
- var classtdEspecific = ['pad-con-table', 'non-border']
mixin jornadas(jor1, fecha1, fecha2, fecha3, horario1, horario2, horario3, equipo1, equipo2, equipo3, equipo4, equipo5, equipo6, vs, vs2, vs3)
	div.col-lg-4.col-md-6.col-sm-12.font-13px.float-L
		div= jor1
		div= fecha1
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario1
			div.col-md-4.col-sm-4.col-xs-5.border= equipo1
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo2
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario1
			div.col-md-4.col-sm-4.col-xs-5.border= equipo1
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo2
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario1
			div.col-md-4.col-sm-4.col-xs-5.border= equipo1
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo2
mixin ranking(puesto, equipo, color)
	.contenedor-mov.black
		.contenedor_hover(class= color+"1")
			.puesto= puesto
		.equipo-lugar(class= color) 
			.expandir.font-14px Ver
			.equipos-ranki= equipo
section#calendario.al100.page-scroll.total-container
	.centerbottom-top.pos-absoluta.column-10
		.contenedor-calendar.centerbottom-top
			.calendar-table.no-margin.col-lg-12.col-md-12.col-sm-12.col-xs-12.centerbottom-top
				+jornadas("JORNADA 1", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 2", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 3", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 4", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 5", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 6", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 7", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 8", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 9", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 10", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 11", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 12", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 13", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
				+jornadas("JORNADA 14", "Lunes, 16 de Junio", "Martes, 17 de Junio", "Jueves, 19 de Junio", horarios.uno, horarios.uno, horarios.uno, equipo1.name, equipo2.name, equipo4.name, equipo5.name, equipo3.name, equipo6.name, "vs", "vs", "vs")
	.columnas-12
		.contenedor-ranking.centerbottom-top
			h3 RANKING
			+ranking("1er LUGAR", equipo1.name, "lun")
			+ranking("2do LUGAR", equipo3.name, "lun")
			+ranking("3ro LUGAR", equipo5.name, "mar")
			+ranking("4to LUGAR", equipo2.name, "mar")
			+ranking("5to LUGAR", equipo6.name, "jue")
			+ranking("6to LUGAR", equipo4.name, "jue")