section#calendario.al100.page-scroll.total-container
	.centerbottom-top.pos-absoluta.column-10
		.contenedor-calendar.centerbottom-top
			table.calendar-table.no-margin
				thead
					tr
						th.pad-table.non-border.jornadas.limit  
							.tit-jornada.font-24px JORNADA 1
							.subtit-jornada.font-18px Lunes 16 de Junio
						th.pad-table.non-border.jornadas.limit  
							.tit-jornada.font-24px JORNADA 2
							.subtit-jornada.font-18px Martes 17 de Junio
						th.pad-table.non-border.jornadas.limit  
							.tit-jornada.font-24px JORNADA 3
							.subtit-jornada.font-18px Jueves 19 de Junio 
				tbody
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno} 
								td.pad-con-table.non-border.teamys #{equipo1.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo2.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo4.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo5.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo3.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo6.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo3.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo4.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo2.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo6.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo1.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo4.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo5.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo6.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo1.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo3.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo2.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo5.name}
				thead
					tr
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 3
							.subtit-jornada.font-18px Lunes 23 de Junio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 4
							.subtit-jornada.font-18px Martes 24 de Junio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 5
							.subtit-jornada.font-18px Jueves 26 de Junio 
				tbody
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo1.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo5.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo2.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo4.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo2.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo1.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo2.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo3.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo1.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo6.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo4.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo3.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo4.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo6.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo3.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo5.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo6.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo5.name}
				thead
					tr
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 7
							.subtit-jornada.font-18px Lunes 30 de Junio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 8
							.subtit-jornada.font-18px Martes 1 de Julio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 9
							.subtit-jornada.font-18px Jueves 3 de Julio 
				tbody
					tr
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo5.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo4.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo6.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo3.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo5.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo1.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo6.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo2.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo4.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo1.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo3.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo2.name} 
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo3.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo1.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo5.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo2.name} 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo6.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo4.name}
				thead
					tr
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px JORNADA 10
							.subtit-jornada.font-18px Lunes 7 de Julio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px POR EL HONOR
							.subtit-jornada.font-18px Martes 8 de Julio
						th.pad-table.non-border.jornadas.limit
							.tit-jornada.font-24px POR EL 3er LUGAR
							.subtit-jornada.font-18px Jueves 10 de Julio 
				tbody
					tr
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.uno}
								td.pad-con-table.non-border.teamys #{equipo4.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo2.name}  
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys 5to Puesto
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys 6to Puesto 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys Perdedor semi 1
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys Perdedor semi 2
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys #{equipo6.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo1.name}  
					tr
						td.pad-table.non-border.limit 
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.tres}
								td.pad-con-table.non-border.teamys #{equipo5.name}
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys #{equipo3.name}
				thead
					tr
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px SEMIFINALES
							.subtit-jornada.font-18px Martes 8 de Julio
						th.pad-table.non-border.jornadas.limit 
							.tit-jornada.font-24px FINAL
							.subtit-jornada.font-18px Jueves 10 de JuLio 
				tbody
					tr
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys 1er Lugar
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys 4to Lugar 
						td.pad-table.non-border.limit
							table.no-margin
								td.pad-con-table.non-border.hours #{horarios.dos}
								td.pad-con-table.non-border.teamys Ganador Semi 1
								td.pad-con-table.non-border.vs vs
								td.pad-con-table.non-border.teamys Ganador Semi 2
	.columnas-12
		.contenedor-ranking.centerbottom-top
			h3 RANKING
			.contenedor-mov.black
				.contenedor_hover.lun1
					.puesto 1er LUGAR
				.equipo-lugar.lun 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo1.name}
			.contenedor-mov.black
				.contenedor_hover.lun1
					.puesto 2do LUGAR
				.equipo-lugar.lun 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo6.name}
			.contenedor-mov.black
				.contenedor_hover.mar1
					.puesto 3er LUGAR
				.equipo-lugar.mar 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo3.name}																				 														
			.contenedor-mov.black
				.contenedor_hover.mar1
					.puesto 4to LUGAR
				.equipo-lugar.mar 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo5.name}
			.contenedor-mov.black
				.contenedor_hover.jue1
					.puesto 5to LUGAR
				.equipo-lugar.jue 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo2.name}
			.contenedor-mov.black
				.contenedor_hover.jue1
					.puesto 6to LUGAR
				.equipo-lugar.jue 
					.expandir.font-14px Ver
					.equipos-ranki #{equipo4.name}						