- var classtdMain = ['pad-table', 'non-border', 'limit']
- var classtdEspecific = ['pad-con-table', 'non-border']
mixin jornadasTits( num, journey, date)
	a(href="#" rel="tab"+ num).js-vertical-tab.vertical-tab= journey
		p= date
	
mixin games(tits ,num ,horario1, horario2, horario3, equipo1, equipo2, equipo3, equipo4, equipo5, equipo6, vs, vs2, vs3)
	a(href="" rel="rel"+ num).js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active
	.js-vertical-tab-content.vertical-tab-content(id="tab"+ num)
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario1
			div.col-md-4.col-sm-4.col-xs-5.border= equipo1
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo2
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario2
			div.col-md-4.col-sm-4.col-xs-5.border= equipo3
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo4
		div(style="clear: left")
			div.col-md-2.col-sm-2.col-xs-12.border= horario3
			div.col-md-4.col-sm-4.col-xs-5.border= equipo5
			div.col-md-1.col-sm-1.col-xs-2.border.border vs
			div.col-md-4.col-sm-4.col-xs-5.border.border= equipo6

mixin ranking(puesto, equipo, color)
	.contenedor-mov.black
		.contenedor_hover(class= color+"1")
			.puesto= puesto
		.equipo-lugar(class= color) 
			.expandir.font-14px Ver
			.equipos-ranki= equipo
section#calendario.al100.page-scroll.total-container
	.centerbottom-top.pos-absoluta.column-10
		.contenedor-calendar.centerbottom-top
			.vertical-tabs-container
				+jornadasTits("1", "JORNADA 1", "LUNES 16 de junio")
				+jornadasTits("2", "JORNADA 2", "MARTES 17 de junio")
				+jornadasTits("3", "JORNADA 3", "JUEVES 19 de junio")
				+jornadasTits("4", "JORNADA 4", "LUNES 23 de junio")
			.vertical-tab-content-container
				+games("JORNADA 1", "1", "7:30pm", "8:30pm", "9:30pm", equipo1.name, equipo6.name, equipo3.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
				+games("JORNADA 2", "2", "7:30pm", "8:30pm", "9:30pm", equipo3.name, equipo5.name, equipo5.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
				+games("JORNADA 3", "3", "7:30pm", "8:30pm", "9:30pm", equipo4.name, equipo4.name, equipo5.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
				+games("JORNADA 4", "4", "7:30pm", "8:30pm", "9:30pm", equipo6.name, equipo3.name, equipo5.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
				+games("JORNADA 5", "5", "7:30pm", "8:30pm", "9:30pm", equipo2.name, equipo2.name, equipo5.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
	.columnas-12
		.contenedor-ranking.centerbottom-top
			h3 RANKING
			+ranking("1er LUGAR", equipo1.name, "lun")
			+ranking("2do LUGAR", equipo3.name, "lun")
			+ranking("3ro LUGAR", equipo5.name, "mar")
			+ranking("4to LUGAR", equipo2.name, "mar")
			+ranking("5to LUGAR", equipo6.name, "jue")
			+ranking("6to LUGAR", equipo4.name, "jue")
