- var clasCalTeams = ["team-games", "col-md-4", "col-sm-4", "col-xs-5", "border"]
- var clasCalHour = ['hour-games', 'col-md-3', 'col-sm-3', 'col-xs-12', 'border']
- var clasCalVs = ['vs-games.col-md-1', 'col-sm-1', 'col-xs-2', 'border']
- var active = true 

mixin jornadasTits( num, journey, active)
	a(href="#" rel="tab"+ num class= active?'is-active':'').formato-jour.js-vertical-tab= journey
		br

mixin games(date,tits ,num ,horario1, horario2, horario3, equipo1, equipo2, equipo3, equipo4, equipo5, equipo6, vs, vs2, vs3)
	a(href="" rel="rel"+ num style="width: 0; height: 0").js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.formato-jour
	.jhgjhg
		.js-vertical-tab-content.vertical-tab-content.float-R.cont-games(id="tab"+ num)
			.date-games= date
			br
			div(style="clear: left")
				div(class=clasCalHour)= horario1
				div(class=clasCalTeams)= equipo1
				div(class=clasCalVs) vs
				div(class=clasCalTeams)= equipo2
			div(style="clear: left")
				div(class=clasCalHour)= horario2
				div(class=clasCalTeams)= equipo3
				div(class=clasCalVs)= vs2
				div(class=clasCalTeams)= equipo4
			div(style="clear: left")
				div(class=clasCalHour)= horario3
				div(class=clasCalTeams)= equipo5
				div(class=clasCalVs)= vs3
				div(class=clasCalTeams)= equipo6

mixin ranking(puesto, equipo, color)
	.contenedor-mov.black
		.contenedor_hover(class= color+"1")
			.puesto= puesto
		.equipo-lugar(class= color) 
			.expandir.font-14px Ver
			.equipos-ranki= equipo
section#calendario.al100.page-scroll
	.centerbottom-top.pos-absoluta.column-10
		.contenedor-calendar.centerbottom-top
			+jornadasTits("1", "JORNADA 1", true)
			+jornadasTits("2", "JORNADA 2", false)
			+jornadasTits("3", "JORNADA 3", false)
			+jornadasTits("4", "JORNADA 4", false)
			+jornadasTits("5", "JORNADA 5", false)
			+jornadasTits("6", "JORNADA 6", false)
			+jornadasTits("7", "JORNADA 7", false)
			+jornadasTits("8", "JORNADA 8", false)
			+jornadasTits("9", "JORNADA 9", false)
			+jornadasTits("10", "JORNADA 10", false)
			+jornadasTits("11", "POR EL HONOR", false)
			+jornadasTits("12", "SEMIFINALES", false)
			+jornadasTits("13", "POR EL 3er LUGAR", false)
			+jornadasTits("14", "FINAL", false)
			.vertical-tab-content-container
				.huhuhu
				+games("LUNES 16 de Junio","JORNADA 1", "1", horarios.uno, horarios.dos, horarios.tres, equipo1.name, equipo2.name, equipo3.name, equipo4.name, equipo5.name, equipo6.name, "vs", "vs", "vs")
				+games("MARTES 17 de Junio","JORNADA 2", "2", horarios.uno, horarios.dos, horarios.tres, equipo4.name, equipo5.name, equipo2.name, equipo6.name, equipo1.name, equipo3.name, "vs", "vs", "vs")
				+games("JUEVES 19 de Junio","JORNADA 3", "3", horarios.uno, horarios.dos, horarios.tres, equipo3.name, equipo6.name, equipo1.name, equipo4.name, equipo2.name, equipo5.name, "vs", "vs", "vs")
				+games("LUNES 23 de Junio","JORNADA 4", "4", horarios.uno, horarios.dos, horarios.tres, equipo1.name, equipo5.name, equipo2.name, equipo3.name, equipo4.name, equipo6.name, "vs", "vs", "vs")
				+games("MARTES 24 de Junio","JORNADA 5", "5", horarios.uno, horarios.dos, horarios.tres, equipo2.name, equipo4.name, equipo1.name, equipo6.name, equipo3.name, equipo5.name, "vs", "vs", "vs")
				+games("JUEVES 26 de Junio","JORNADA 6", "6", horarios.uno, horarios.dos, horarios.tres, equipo2.name, equipo1.name, equipo4.name, equipo3.name, equipo6.name, equipo5.name, "vs", "vs", "vs")
				+games("LUNES 30 de Junio","JORNADA 7", "7", horarios.uno, horarios.dos, horarios.tres, equipo5.name, equipo4.name, equipo6.name, equipo2.name, equipo3.name, equipo1.name, "vs", "vs", "vs")
				+games("MARTES 1 de Julio","JORNADA 8", "8", horarios.uno, horarios.dos, horarios.tres, equipo6.name, equipo3.name, equipo4.name, equipo1.name, equipo5.name, equipo2.name, "vs", "vs", "vs")
				+games("JUEVES 3 de Julio","JORNADA 9", "9", horarios.uno, horarios.dos, horarios.tres, equipo5.name, equipo1.name, equipo3.name, equipo2.name, equipo6.name, equipo4.name, "vs", "vs", "vs")
				+games("LUNES 7 de Julio","JORNADA 10", "10", horarios.uno, horarios.dos, horarios.tres, equipo4.name, equipo2.name, equipo6.name, equipo1.name, equipo5.name, equipo3.name, "vs", "vs", "vs")
				+games("MARTES 8 de Julio","PORELHONOR", "11", horarios.uno, "", "", "5to Puesto", "6to Puesto", "", "", "", "", "vs", "", "")
				+games("MARTES 8 de Julio","SEMI", "12", horarios.dos, horarios.tres, "", "1er Puesto", "4to Puesto", "2do Puesto", "3er Puesto", "", "", "vs", "vs", "")
				+games("JUEVES 10 de Julio","POR3ER", "13", horarios.uno, "", "", "Perdedor Semi 1", "Perdedor Semi 2", "", "", "", "", "vs", "", "")
				+games("JUEVES 10 de Julio","FINAL", "14", horarios.dos, "", "", "Ganador Semi 1", "Ganador Semi 2", "", "", "", "", "vs", "", "")

				
	.columnas-12
		.contenedor-ranking.centerbottom-top
			h3 RANKING
			+ranking("1er LUGAR", equipo1.name, "lun")
			+ranking("2do LUGAR", equipo3.name, "lun")
			+ranking("3ro LUGAR", equipo6.name, "mar")
			+ranking("4to LUGAR", equipo2.name, "mar")
			+ranking("5to LUGAR", equipo5.name, "jue")
			+ranking("6to LUGAR", equipo4.name, "jue")
		.contenedor-ranking-resp.centerbottom-top
			h3 RANKING
			include partials/_resp-ranking