include partials/_nav-bar
section#home.al100.total-container.page-scroll
	.containerNt.outer-container
		.title(style="white-space:pre")
	.columnas-12.menu-partidos-week
		ul
			br
			li.font-24px.no-gutter.estatic.prox PARTIDOS DE LA SEMANA: 
			li.font-24px.no-gutter
				.cont_hover.black 
					.lun1.cuadro_contenido 16 
						br 
						.mes.float-L JUNIO
						.dia.float-R LUNES
						hr
						.horariosXdia.font-18px(style="white-space:pre").float-L 
							| #{horarios.uno} 
							| #{horarios.dos}
							| #{horarios.tres}
						table.equiposVS.font-14px.float-R
							tr
								td.line #{equipo1.name}  
								td.line vs  
								td.line #{equipo2.name}
							tr
								td.line #{equipo3.name}  
								td.line vs  
								td.line #{equipo4.name}
							tr
								td.line #{equipo5.name}  
								td.line vs  
								td.line #{equipo6.name}
			li.font-24px.no-gutter
				.cont_hover.black
					.mar1.cuadro_contenido 17
						br 
						.mes.float-L JUNIO 
						.dia.float-R MARTES
						hr
						.horariosXdia.font-18px(style="white-space:pre").float-L 
							| #{horarios.uno} 
							| #{horarios.dos}
							| #{horarios.tres}
						table.equiposVS.font-14px.float-R
							tr
								td.line #{equipo4.name}  
								td.line vs  
								td.line #{equipo5.name}
							tr
								td.line #{equipo2.name}  
								td.line vs  
								td.line #{equipo6.name}
							tr
								td.line #{equipo1.name}  
								td.line vs  
								td.line #{equipo3.name}
			li.font-24px.no-gutter
				.cont_hover.black
					.jue1.cuadro_contenido 18
						br 
						.mes.float-L JUNIO 
						.dia.float-R JUEVES
						hr
						.horariosXdia.font-18px(style="white-space:pre").float-L
							| #{horarios.uno} 
							| #{horarios.dos}
							| #{horarios.tres}
						table.equiposVS.font-14px.float-R
							tr
								td.line #{equipo3.name}  
								td.line vs  
								td.line #{equipo6.name}
							tr
								td.line #{equipo1.name}  
								td.line vs  
								td.line #{equipo4.name}
							tr
								td.line #{equipo2.name}  
								td.line vs  
								td.line #{equipo5.name}