mixin proxPartidos(dia, day, equipo1, equipo2, equipo3, equipo4, equipo5, equipo6)
	li.font-24px.no-gutter
		.cont_hover.black 
			.lun1.cuadro_contenido= dia 
				br 
				.mes.float-L JUNIO
				.dia.float-R= day
				hr
				.horariosXdia.font-18px(style="white-space:pre").float-L 
					| #{horarios.uno} 
					| #{horarios.dos}
					| #{horarios.tres}
				table.equiposVS.font-14px.float-R
					tr
						td.line= equipo1  
						td.line vs  
						td.line= equipo2
					tr
						td.line= equipo3   
						td.line vs  
						td.line= equipo4
					tr
						td.line= equipo5   
						td.line vs  
						td.line= equipo6 

include partials/_nav-bar
section#home.al100.total-container.page-scroll
	.containerNt.outer-container
		.title(style="white-space:pre")
	.columnas-12.menu-partidos-week
		ul
			br
			li.font-24px.no-gutter.estatic.prox PARTIDOS DE LA SEMANA:
			+proxPartidos("16", "LUNES", equipo1.name, equipo2.name, equipo3.name, equipo4.name, equipo5.name, equipo5.name) 
			+proxPartidos("17", "MARTES", equipo4.name, equipo5.name, equipo2.name, equipo6.name, equipo1.name, equipo3.name) 
			+proxPartidos("19", "JUEVES", equipo3.name, equipo6.name, equipo1.name, equipo4.name, equipo2.name, equipo5.name)
